.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background: #10265499;
}

.show-modal {
  display: block;
}
.hide-modal {
  display: none;
}
.modal-header {
  border-bottom: 0;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 50%;
    margin: 1.75rem auto;
  }
}
